<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBBJDuyIz0N0t3SoTBkiw013Rt1VhZUbpg</string>
	<key>GCM_SENDER_ID</key>
	<string>391361219183</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.artPortfolio</string>
	<key>PROJECT_ID</key>
	<string>airbnb-ce515</string>
	<key>STORAGE_BUCKET</key>
	<string>airbnb-ce515.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:391361219183:ios:3c850f8c9346d280239b9a</string>
	<key>DATABASE_URL</key>
	<string>https://airbnb-ce515.firebaseio.com</string>
</dict>
</plist>